In [ ]:
import pandas as pd
import numpy as np

# Create a DataFrame with random values
data = {
    'user_id': np.random.randint(1000, 2000, size=10),
    'product_id': np.random.randint(1, 100, size=10),
    'product_name': ['Product_' + str(i) for i in range(1, 11)],
    'brand': ['Brand_' + str(i) for i in range(1, 11)],
    'category': ['Category_' + str(i) for i in range(1, 11)],
    'price': np.random.uniform(10, 100, size=10),
    'color': ['Color_' + str(i) for i in range(1, 11)],
    'size': ['Size_' + str(i) for i in range(1, 11)]
}

df = pd.DataFrame(data)

# Save the DataFrame to a CSV file
df.to_csv('random_data.csv', index=False)

In [3]:
import sqlite3

In [4]:
df.rename(columns={'User ID': 'user_id',
                   'Product ID': 'product_id',
                   'Product Name' : 'product_name',
                   'Brand' : 'brand',
                   'Category' : 'category',
                   'Price' : 'price',
                   'Color' : 'color',
                   'Size' : 'size'}, inplace=True)

conn = sqlite3.connect('fashion_db.sqlite')
c = conn.cursor()

c.execute('CREATE TABLE IF NOT EXISTS fashion_products (user_id int, product_id int, product_name text, brand text, category text, price int, rating float, color text, size text)')
conn.commit()

df.to_sql('fashion_products', conn, if_exists='replace', index = False)

c.execute('''
SELECT product_name FROM fashion_products LIMIT 100
          ''')

for row in c.fetchall():
    print (row)

('Product_1',)
('Product_2',)
('Product_3',)
('Product_4',)
('Product_5',)
('Product_6',)
('Product_7',)
('Product_8',)
('Product_9',)
('Product_10',)

In [5]:
def read_sql_query(sql, db):
    conn = sqlite3.connect(db)
    cur = conn.cursor()
    cur.execute(sql)
    rows = cur.fetchall()
    for row in rows:
        print(row)
    conn.close()

In [6]:
import sqlite3
read_sql_query('SELECT * FROM fashion_products LIMIT 10;',
               "fashion_db.sqlite")

(1598, 81, 'Product_1', 'Brand_1', 'Category_1', 94.03966367809421, 'Color_1', 'Size_1')
(1647, 48, 'Product_2', 'Brand_2', 'Category_2', 98.13465028098854, 'Color_2', 'Size_2')
(1330, 62, 'Product_3', 'Brand_3', 'Category_3', 15.643645281189091, 'Color_3', 'Size_3')
(1588, 68, 'Product_4', 'Brand_4', 'Category_4', 61.03873617398791, 'Color_4', 'Size_4')
(1400, 26, 'Product_5', 'Brand_5', 'Category_5', 90.37919146742455, 'Color_5', 'Size_5')
(1918, 79, 'Product_6', 'Brand_6', 'Category_6', 68.63939766686951, 'Color_6', 'Size_6')
(1663, 25, 'Product_7', 'Brand_7', 'Category_7', 85.6614586224084, 'Color_7', 'Size_7')
(1732, 32, 'Product_8', 'Brand_8', 'Category_8', 63.97521422207548, 'Color_8', 'Size_8')
(1321, 13, 'Product_9', 'Brand_9', 'Category_9', 42.32460785222046, 'Color_9', 'Size_9')
(1523, 81, 'Product_10', 'Brand_10', 'Category_10', 74.08915149154495, 'Color_10', 'Size_10')

In [11]:
from dotenv import load_dotenv
load_dotenv()

True

In [8]:
from langchain import OpenAI, SQLDatabase
from langchain_experimental.sql import SQLDatabaseChain

In [12]:
input_db = SQLDatabase.from_uri('sqlite:///fashion_db.sqlite')
llm_1 = OpenAI(temperature=0)

In [13]:
db_agent = SQLDatabaseChain(llm = llm_1,
                            database = input_db,
                            verbose=True)

d:\Celebal Technologies\LearningAndDevelopment\NLP\Environments\SQLChatBot\lib\site-packages\langchain_experimental\sql\base.py:75: UserWarning: Directly instantiating an SQLDatabaseChain with an llm is deprecated. Please instantiate with llm_chain argument or using the from_llm class method.
  warnings.warn(

In [14]:

db_agent.run("What is the total salary of Brand 6")

> Entering new SQLDatabaseChain chain...
What is the total salary of Brand 6
SQLQuery:SELECT SUM(price) FROM fashion_products WHERE brand = "Brand_6"
SQLResult: [(68.63939766686951,)]
Answer:The total salary of Brand 6 is 68.63939766686951.
> Finished chain.

'The total salary of Brand 6 is 68.63939766686951.'